
<nav class="nav justify-content-evenly" id="profileNav">
  <li class="nav-item">
    <a class="navbar-brand" href="/profile/leads">Leads</a>
  </li>
  <li class="nav-item">
    <a class="navbar-brand" href="/profile/newLead">New Lead</a>
  </li>
  <form class="form-inline">
    <input type="search" class="form-control mr-sm-2" placeholder="Search through leads">
  </form>
  <button type="submit" class="btn btn-primary">Submit</button>
</nav>
<h2>Dont leave any meat left on the bone</h2>

<!-- Tables -->
<!-- <div id="leadTable">
  <% for (let i = 1; i < leadObj.length; i++) { %>
    <% let lead = leadObj[i]; %>
    <table class="table table-bordered border-primary">
      <thead>
        <td>#</td>
        <td>Name</td>
        <td>Address</td>
        <td>State</td>
        <td>Zip Code</td>
        <td>Email</td>
      </thead>
    
      <tbody>
        <tr class="table-active">
          <td><%= i %>   %> </td>
          <td><%= lead.firstName  %>  <%= lead.lastName  %></td>
          <td><%= lead.address  %></td>
          <td><%= lead.state  %></td>
          <td><%= lead.zipCode  %></td>
          <td><%= lead.email  %></td>
        </tr>
      </tbody>
    </table>
    
    <% } %> 
</div> -->
<!-- Profile Cards -->
<div id="leadCard">
  <% for (let i = 1; i < leadObj.length; i++) { %>
    <% let lead = leadObj[i]; %>
    <div class="row">
    <div class="col-sm-6">
    <div class="card"  style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= lead.firstName  %>  <%= lead.lastName  %></h5>
          <p class="card-text"> 
            <ul> Address: <%= lead.address  %> </ul>
            <ul> State: <%= lead.state  %> </ul>
            <ul> Zip Code: <%= lead.zipCode  %> </ul>
            <ul> Email: <%= lead.email  %> </ul>
        </p>
          <a href="/profile/leads/<%= i%>/" class="btn btn-primary">View Lead</a>
        </div>
      </div>
    </div>
  </div>
   
 <% } %> 

</div>





 



