<h2>The more convos the more chances you have of closing a deal</h2>

<% for (let i = 1; i < leadObj.length; i++) { %>
    <% let lead = leadObj[i]; %>
    <li> <%= lead.firstName  %> </li>
    <li> <%= lead.lastName  %> </li>
    <li> <%= lead.address  %> </li>
    <li> <%= lead.state  %> </li>
    <li> <%= lead.zipCode  %> </li>
    <li> <%= lead.email  %> </li>
    <a href="/profile/leads/<%= i%>/">View Lead</a>   
 <% } %> 




