
<h3>Welcome to your PROFILE</h3>

<li><a href="/profile/leads">Leads</a></li>
<li><a href="/profile/newLead">New Leads</a></li>

<p>Id: <%= id %></p>
<p>First Name: <%= firstName %></p>
<p>Last Name: <%= lastName %></p>
<p>Email: <%= email %></p>
<p>NMLS ID: <%= nmlsId %></p>


