
<!-- nav bar -->
<nav class="nav justify-content-evenly" id="profileNav">
  <li class="nav-item">
    <a class="navbar-brand" href="/profile/leads">Leads</a>
  </li>
  <li class="nav-item">
    <a class="navbar-brand" href="/profile/newLead">New Lead</a>
  </li>
  <form class="form-inline">
    <input type="search" class="form-control mr-sm-2" placeholder="Search the Web">
  </form>
  <button type="submit" class="btn btn-primary">Submit</button>
</nav>




<div class="profilePage">
  <!-- user profile card -->
  <div id="profileInfo">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://img.pixers.pics/download(s3:700/FO/11/19/71/98/7/700_FO111971987_37d25e6e36071f285f5a8c252f5e19a9.jpg):pattern(0.2381w,0.2381h):resize(700,700):compose(download(cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png),over,480,650):format(jpg)/wallpapers-cats-seamless-pattern.jpg.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= firstName %> <%= lastName %></h5>
        <h5 >NMLS ID: <%= nmlsId %></h5>
        <h5 >Email: <%= email %></h5>
        <p class="card-text">The user can add their bio here</p>
        <p>userId: <%= id %></p>
        <a href="#" class="btn btn-primary">Edit Profile</a>
      </div>
    </div>
  </div>

  <!-- Mortgage API data -->
  <!-- <div id="apiInfo"> -->
    <div id="todoList">
      <h2>Google Calendar API goes here</h2>
    </div>
    <div id="currentData">
      <h2>Month to Month Rates</h2>
      <iframe scrolling="no" style="border: 0; overflow: 0; width: 400px; height: 300px;" src="//www.mortgagecalculator.org/rates-widgets/mortgages/text-widget.php?advanced&amp;data=30yr_fr|15yr_fr|5yr_ar" frameborder="0"></iframe><br />
    </div>
    <div id="hotList">
      <h2>Top 3 followups</h2>
    </div>
  <!-- </div> -->
</div>

<div id="profileFillerImg">
  <img src="https://smartcdn.prod.postmedia.digital/driving/wp-content/uploads/2014/03/mclarenp1_dunsfoldtest_2014-037.jpg" class="img-fluid" alt="mclarenP1">
</div>

