<h2>An individual lead</h2>

<li> <%= leadObj.firstName  %> </li>
<li> <%= leadObj.lastName  %> </li>
<li> <%= leadObj.address  %> </li>
<li> <%= leadObj.state  %> </li>
<li> <%= leadObj.zipCode  %> </li>
<li> <%= leadObj.email  %> </li>

<a href="/profile/leads/edit/<%= leadId %> ">Edit Lead</a>
<a href="/profile/leads/delete/<%= leadId %> ">Deactivate Lead</a>